/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /*Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /*Ovo*/


/*CODE*/
    /*FONTS*/


.ovo {
    font-family: "Ovo", serif;
    font-size: 69px;
    color: #ffffff;
}
  
.rubik {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #ffffff;
}

    /*NAVIGATION BAR*/

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

.nav-links {
    display: flex;
    margin-left: 55px; /* Adjust this value if needed */
}


/* Style the links inside the navigation bar */
.nav-links a {
    color: #ffffff;
    padding: 20px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #2f2f2f;
    color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffffff;
    color: #000000;
}

.topright-nav {
    right: 15px;
}

    /*WEBPAGE*/
body {
    background-color: #000000;
}
